
<div class="page-header">
</div>




<div class="container">
  <br>
  <br>

  <table class="table">
    <thead>
    <th>Rule Number</th>
    <th>Behavior</th>
    <th>Triplets that Return One</th>
    </thead>

    <tbody>
      <% @rules.each do |rule| %>
        <tr>
          <td>
            <h3><%= rule.name %></h3>
          </td>
          <td>
            <h3><%= rule.behavior %></h3>
          </td>
          <td>
            <h3><%= rule.returns_one %></h3>
          </td>
          <td>
            <%= link_to "Run it", one_dim_rule_path(rule), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
