
  <div class="container">

    <h2>
      <b>What is a 1D Cellular Automaton?</b>
    </h2>
    <br>

    <h3>
    * This part under development - will explain with example the model. Still,
      you can learn on your own. Click the button below *
    </h3>
    <br>

    <div style = "text-align: center">
      <%= link_to "Explore Model", one_dim_rules_path, class: "btn btn-primary" %>
    </div>

  </div>
