/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar-inverse {
     background-color: orange;
 }

body{
   padding-top: 85px;
   padding-bottom: 85px;
   background-color: #A4A4A4;
   //background-image: url(asset-path("gray_marble_texture.jpg"));
 }

section{
  font-family: sans-serif;
  font-size: 20pt;
  margin: 40px 0px 40px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
 }

h2 {
   font-weight: bold;
   margin-bottom: 20px;
 }

div {
  font-family: sans-serif;
  font-size: 18pt;
 }

ul li {
    font-weight: normal;
 }

.row {
   font-size: 18pt;
 }

.col-md-1, .col-md-3, .col-md-8 {
   font-weight: bold;
   padding: 0;
 }

 .col-md-offset-4 {
   padding: 0;
 }

.select_buttons {
     line-height: 12px;
 }

.initial_cells_filled{
   padding-top: 12px;
 }

input[type='radio'] {
   width: 18px;
   height: 18px;
}

table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

tr {
  height: 15px;
}

td {
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #FAFAFA;
}

.right_button {
  text-align: right;
}

.center_button {
  text-align: center;
  margin-bottom: 20px;
}
