<!DOCTYPE html>
<html>
<head>
  <title>CellAutomataApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container" color="Blue">
    <h1>1D Cellular Automata</h1>
  </div>
</nav>


<%= yield %>


</body>
</html>
